
@using WebSiteBanHang.Models;
@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <h1 style="color:black;">Giỏ hàng rỗng!</h1>
}
else
{
    <table class="table">
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td><img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" width="50" height="50" /></td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia.ToString("#,##") đồng</td>
                <td>@item.ThanhTien.ToString("#,##") đồng</td>
                <td>
                    @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
                </td>

            </tr>
        }
    </table>

    using (Html.BeginForm("DatHang", "GioHang"))
    {
        if (Session["TaiKhoan"] == null)
        {
            @*Thiết kế form lưu thông tin khách hàng đối với khách vãng lai (chưa có tài khoản)*@
            <div class="ThongTinMuaHang">
                <table align="center" class="table">
                    <tr>
                        <td align="center" colspan="2"><b>Thông tin khách hàng</b></td>
                    </tr>
                    <tr>
                        <td>Họ tên</td>
                        <td>
                            @Html.TextBox("TenKH")
                            <p style="color:red;" id="TB_TenKH"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>
                            @Html.TextArea("DiaChi")
                            <p style="color:red;" id="TB_DiaChi"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            @Html.TextBox("Email")
                            <p style="color:red;" ; id="TB_Email"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Điện thoại</td>
                        <td>
                            @Html.TextBox("SoDienThoai")
                        <p style="color:red;" ; id="TB_SDT"></p>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>

    }

    <div class="divDatHang" style="text-align:right;">
        <input type="submit" value="Đặt hàng" class="btn btn-danger" id="btnDatHang" />
        @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
    </div>
}

}


<style>
    input[type="submit"] {
        padding: 6px;
        margin: 0;
    }
</style>
@*Kiểm tra validation thông qua jquery*@
<script>
    $("#btnDatHang").click(function () {
        var loi = 0;
        if ($("#TenKH").val() == "") {
            $("#TB_TenKH").text("Tên khách hàng không được bỏ trống");
            loi++;
            return false;
        }
        else {
            $("#TB_TenKH").text("");
        }

        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("Địa chỉ không được bỏ trống");
            loi++;
            return false;
        }
        else {
            $("#TB_DiaChi").text("");
        }
        dingdang = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        KTemail = dingdang.test($('#Email').val());
        if (!KTemail) {
            $('#TB_Email').text("Email không hợp lệ!");
            loi++;
        }

        if ($("#SoDienThoai").val() == "") {
            $("#TB_SDT").text("Số điện thoại không được bỏ trống");
            loi++;
            return false;
        }
        else {
            $("#TB_SDT").text("");
        }

        if (loi != 0) {
            //Ngăn sự kiện submit đến server
            return false;
        }
    });
</script>
